ideaboard.co.uk {
  root /var/www/html
  tls hello@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

citylit.ideaboard.co.uk {
  root /var/www/html
  tls citylit@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

wea.ideaboard.co.uk {
  root /var/www/html
  tls wea@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

ncl.ideaboard.co.uk {
  root /var/www/html
  tls ncl@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

openlab.ideaboard.co.uk {
  root /var/www/html
  tls openlab@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

sensemystreet.ideaboard.co.uk {
  root /var/www/html
  tls sensemystreet@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

myto.ideaboard.co.uk {
  root /var/www/html
  tls myto@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

wingrove.ideaboard.co.uk {
  root /var/www/html
  tls wingrove@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

purdueux.ideaboard.co.uk {
  root /var/www/html
  tls purdueux@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

healthchecks.ideaboard.co.uk {
  root /var/www/html
  tls healthchecks@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

cell.ideaboard.co.uk {
  root /var/www/html
  tls cell@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

cellyouthforum.ideaboard.co.uk {
  redir https://cell.ideaboard.co.uk
}

demvr.ideaboard.co.uk {
  root /var/www/html
  tls demvr@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}


comtech.ideaboard.co.uk {
  root /var/www/html
  tls comtech@ideaboard.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}


api.ideaboard.co.uk {
  timeouts 10m
  proxy / api_1:3000 api_2:3000 api_3:3000 api_4:3000 api_5:3000 {
    health_check /health
    health_check_interval 10s
  }
}
