eventspark.co.uk {
  root /var/www/html
  tls eventspark@edjenkins.co.uk

  rewrite {
    to {path} {path}/ /index.html
  }
}

citylit.eventspark.co.uk {
  root /var/www/html
  tls eventspark@edjenkins.co.uk
}

wea.eventspark.co.uk {
  root /var/www/html
  tls eventspark@edjenkins.co.uk
}

api.eventspark.co.uk {
  proxy / api:3000
}
