// Default
$color-white = #ffffff
$color-primary = #0B9BD0
$color-success = #29B474
$color-warning = #fd853c
$color-danger = #FD3C51

// Greys
$color-grey = #ccc
$color-dark-grey = #999
$color-darker-grey = #262626
$color-darkest-grey = #161616
$color-light-grey = #dfdfdf
$color-lighter-grey = #f2f2f2
$color-lightest-grey = #f9f9f9

// Border
$color-border = $color-light-grey;

// Text
$color-text-darkest-grey = #111
$color-text-darker-grey = #222
$color-text-dark-grey = #444
$color-text-grey = #666
$color-text-light-grey = #ccc
$color-text-lighter-grey = #ddd
$color-text-lightest-grey = #eee

// Navigation
$navigation-background-color = transparent //darken($color-primary, 10%)// $color-primary // darken($color-purple, 20%)
$navigation-text-color = $color-white

// Layout
$color-main-page = white

// Social
$color-facebook = #3B5998
$color-twitter = #4099FF

// Specific
$color-design = $color-primary // #ff0068
$color-notification = $color-design