extends ../maindemvr

block content

  p
    span(style='color:#727272;')
      span(style='font-family:arial,helvetica,sans-serif;')
        span(style='font-size:14px;')
          strong
            | Thank you for signing up! You will be the first to know about new information for the hackathon.
  p &nbsp;
  p
    span(style='color:#727272;')
      span(style='font-family:arial,helvetica,sans-serif;')
        span(style='font-size:14px;')
          strong
            | In the meantime, We&apos;ve set up&nbsp;an account on Ideaboard for you. Jump ahead of the hackathon and propose your VR idea to others! Check it out <a style="color: #0B9BD0" href="#{ url }">here</a>! 
  p
    span(style='color:#727272;')
      span(style='font-family:arial,helvetica,sans-serif;')
        span(style='font-size:14px;')
          strong Use this link to set up your password and get started: <a style="color: #0B9BD0" href="#{ resetLink }">#{ resetLink }</a>
