extends ../main

block content

  h1(style="margin-bottom: 30px") Account Created

  p Hey #{ user.profile.name },

  p Thank you for creating an account.

  p You are now able to subscribe to and design ideas.

  p We recommend adding a bio and profile image to your account so friends recognise you around the site. This only take a minute, click <a style="color: #0B9BD0" href="http://localhost:8080/profile">here</a> to get started.

  p If you are new to this and have any questions then please get in touch by replying to this email.
