extends ../main

block content

  h1(style="margin-bottom: 30px") Reset Password

  p Hey #{ user.profile.name },

  p Please click the link below to continue with resetting your password.

  a(style="color: #0B9BD0" href=`${ resetLink }`) Click here to reset your password