@import '~stylus/shared'

#home
  position relative
  text-align center

  .row-wrapper
    margin 0
    padding 20px
    .content-block
      reset()
    &#welcome
      gradient()
      animate()
      background-color $color-primary
      padding-top 100px
      @media(max-width: 568px)
        padding-top 80px
      .content-block
        reset()
        .content-block--body
          min-height auto
          padding-top 100px
          padding-bottom 120px
          h1, h3
            reset()
            color white
            font-weight normal
            text-align center
          h1
            font-size 2em
            font-weight bold
            text-transform capitalize
          .example
            color white
            display inline
            font-weight normal
            margin 0 auto
            overflow visible
            width 100px
            text-align left
            @media(max-width: 580px)
              display block
              text-align center
              width auto

#showcase, #featured-ideas
  .content-block--body
    min-height 80px
    padding 0
    h3
      color $color-text-grey
      text-align left
      @media(max-width: ($page-width + 10px))
        padding 0 10px