doctype strict
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
  style(type='text/css').
    body, p, div {
    font-family: helvetica,arial,sans-serif;
    font-size: 14px;
    }
    body {
    color: #000000;
    }
    body a {
    color: #1188E6;
    text-decoration: none;
    }
    p { margin: 0; padding: 0; }
    table.wrapper {
    width:100% !important;
    table-layout: fixed;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    }
    img.max-width {
    max-width: 100% !important;
    }
    .column.of-2 {
    width: 50%;
    }
    .column.of-3 {
    width: 33.333%;
    }
    .column.of-4 {
    width: 25%;
    }
    @media screen and (max-width:480px) {
    .preheader .rightColumnContent,
    .footer .rightColumnContent {
    text-align: left !important;
    }
    .preheader .rightColumnContent div,
    .preheader .rightColumnContent span,
    .footer .rightColumnContent div,
    .footer .rightColumnContent span {
    text-align: left !important;
    }
    .preheader .rightColumnContent,
    .preheader .leftColumnContent {
    font-size: 80% !important;
    padding: 5px 0;
    }
    table.wrapper-mobile {
    width: 100% !important;
    table-layout: fixed;
    }
    img.max-width {
    height: auto !important;
    max-width: 480px !important;
    }
    a.bulletproof-button {
    display: block !important;
    width: auto !important;
    font-size: 80%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    }
    .columns {
    width: 100% !important;
    }
    .column {
    display: block !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    }
    }
  // user entered Head Start
  // End Head user entered
center.wrapper(data-link-color='#1188E6' data-body-style='font-size: 14px; font-family: helvetica,arial,sans-serif; color: #000000; background-color: #ffffff;')
  .webkit
    table.wrapper(cellpadding='0' cellspacing='0' border='0' width='100%' bgcolor='#ffffff')
      tr
        td(valign='top' bgcolor='#ffffff' width='100%')
          table.outer(width='100%' role='content-container' align='center' cellpadding='0' cellspacing='0' border='0')
            tr
              td(width='100%')
                table(width='100%' cellpadding='0' cellspacing='0' border='0')
                  tr
                    td
                      table(width='100%' cellpadding='0' cellspacing='0' border='0' style='width: 100%; max-width:600px;' align='center')
                        tr
                          td(role='modules-container' style='padding: 0px 0px 0px 0px; color: #000000; text-align: left;' bgcolor='#ffffff' width='100%' align='left')
                            table.module.preheader.preheader-hide(role='module' data-type='preheader' border='0' cellpadding='0' cellspacing='0' width='100%' style='display: none !important; mso-hide: all; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;')
                              tr
                                td(role='module-content')
                                  p
                            table.wrapper(role='module' data-type='image' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;')
                              tr
                                td(style='font-size:6px;line-height:10px;padding:0px 0px 0px 0px;' valign='top' align='center')
                                  img.max-width(border='0' style='display:block;color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;max-width:100% !important;width:100%;height:auto !important;' src='https://marketing-image-production.s3.amazonaws.com/uploads/6f144458f989fe9e5f215252f88cb8c3657c24f7b287b16d242053a6356e0177240d48708f8524ef000ee94345090b70f907c5f53c99ae4b5e7cc9ed64950ef9.png' alt='' width='600')
                            table.module(role='module' data-type='text' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;')
                              tr
                                td(style='padding:0px 40px 0px 40px;line-height:35px;text-align:inherit;' height='100%' valign='top' bgcolor='')
                                  h2(style='text-align: center;')
                                    span(style='color:#727272;') WELCOME!
                                  p
                                    strong
                                      span(style='color:#727272;')
                                        span(style='font-family:arial,helvetica,sans-serif;')
                                          span(style='font-size:14px;') Hi there,&nbsp;
                                  
                                  block content


                                  p &nbsp;
                                  p
                                    span(style='color:#727272;')
                                      span(style='font-family:arial,helvetica,sans-serif;')
                                        span(style='font-size:14px;')
                                          strong Cheers,
                                  p
                                    span(style='color:#727272;')
                                      span(style='font-family:arial,helvetica,sans-serif;')
                                        span(style='font-size:14px;')
                                          strong James
                            table.module(role='module' data-type='spacer' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;')
                              tr
                                td(style='padding:0px 0px 30px 0px;' role='module-content' bgcolor='')
                            .module.unsubscribe-css__unsubscribe___2CDlR(data-role='module-unsubscribe' role='module' data-type='unsubscribe' style='background-color:#ffffff;color:#444444;font-size:12px;line-height:30px;padding:0px 16px 0px 16px;text-align:center')
                              .Unsubscribe--addressLine
                                p.Unsubscribe--senderName(style='font-family:Arial,Helvetica, sans-serif;font-size:12px;line-height:30px') Ideaboard
                                p(style='font-family:Arial,Helvetica, sans-serif;font-size:12px;line-height:30px')
                                  span.Unsubscribe--senderAddress Open Lab, Urban Sciences Building
                                  | , 
                                  span.Unsubscribe--senderCity Newcastle upon Tyne
                                  | ,
                                  span.Unsubscribe--senderZip NE4 5TG United Kingdom
                              p(style='font-family:Arial,Helvetica, sans-serif;font-size:12px;line-height:30px')
                                a.Unsubscribe--unsubscribeLink(a href=url+"/unsubscribe") Unsubscribe
                            table.wrapper(role='module' data-type='image' border='0' cellpadding='0' cellspacing='0' width='100%' style='table-layout: fixed;')
                              tr
                                td(style='font-size:6px;line-height:10px;padding:0px 0px 0px 0px;background-color:#f3f3f3;' valign='top' align='center')
                                  img.max-width(border='0' style='display:block;color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;max-width:20% !important;width:20%;height:auto !important;' src='https://marketing-image-production.s3.amazonaws.com/uploads/2e0b897c4861ad59dff7b340964fbd749c01a4492e355eee2adad9c49c5a09a6fd49c363ca20a98e58a810e4f7daa3ffaf669f289c742867aa7821926a458d9d.png' alt='' width='120')
