extends ../maindemvr

block content

  p
    span(style='color:#727272;')
      span(style='font-family:arial,helvetica,sans-serif;')
        span(style='font-size:14px;')
          strong
            | Thank you for signing up! You will be the first to know about new information for the hackathon.
  p &nbsp;
  p
    span(style='color:#727272;')
      span(style='font-family:arial,helvetica,sans-serif;')
        span(style='font-size:14px;')
          strong
            | In the meantime, Why not check <a style="color: #0B9BD0" href="#{ url }">DemVR on Ideaboard</a>? Jump ahead of the hackathon and propose your VR idea to others! Click <a style="color: #0B9BD0" href="#{ url }">here</a> to get started.
